<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ReachDigital\ISReservationsApi\Model\AppendReservationsInterface" type="ReachDigital\ISReservations\Model\AppendReservations"/>
    <preference for="ReachDigital\ISReservationsApi\Model\ReservationInterface" type="ReachDigital\ISReservations\Model\Reservation"/>
    <preference for="ReachDigital\ISReservationsApi\Model\ReservationBuilderInterface" type="ReachDigital\ISReservations\Model\ReservationBuilder"/>
    <preference for="ReachDigital\ISReservationsApi\Model\CleanupReservationsInterface" type="ReachDigital\ISReservations\Model\ResourceModel\CleanupReservations"/>
    <preference for="ReachDigital\ISReservationsApi\Model\GetReservationsQuantityInterface" type="ReachDigital\ISReservations\Model\ResourceModel\GetReservationsQuantity"/>
    <type name="ReachDigital\ISReservations\Model\ResourceModel\CleanupReservations">
        <arguments>
            <argument name="groupConcatMaxLen" xsi:type="number">2000</argument>
        </arguments>
    </type>


    <type name="Magento\InventoryIndexer\Indexer\SelectBuilder">
        <plugin name="add_source_reserversation_qty_to_stock_indexer"
                type="ReachDigital\ISReservations\Plugin\MagentoInventoryIndexer\AddSourceReserversationsQtyToIsSalableConditionsPlugin"/>
    </type>

    <type name="ReachDigital\ISReservations\Plugin\MagentoInventoryIndexer\AddSourceReserversationsQtyToIsSalableConditionsPlugin">
        <arguments>
            <argument name="productTableName" xsi:type="string">catalog_product_entity</argument>
        </arguments>
    </type>

    <!-- @todo -->
    <!--<type name="\Magento\InventorySales\Model\ResourceModel\IsStockItemSalableCondition\BackordersCondition">-->
        <!--<plugin name="BackordersConditionPlugin" type="ReachDigital\ISReservations\Plugin\MagentoInventorySales\BackordersConditionPlugin"/>-->
    <!--</type>-->
    <!--<type name="\Magento\InventorySales\Model\ResourceModel\IsStockItemSalableCondition\MinQtyStockCondition">-->
        <!--<plugin name="MinQtyStockConditionPlugin" type="ReachDigital\ISReservations\Plugin\MagentoInventorySales\MinQtyStockConditionPlugin"/>-->
    <!--</type>-->
    <!--<type name="\Magento\InventorySales\Model\ResourceModel\IsStockItemSalableCondition\BackordersCondition">-->
        <!--<plugin name="BackordersConditionPlugin" type="ReachDigital\ISReservations\Plugin\MagentoInventorySales\BackordersConditionPlugin"/>-->
    <!--</type>-->
</config>
