<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ReachDigital\ISReservationsApi\Model\AppendSourceReservationsInterface" type="ReachDigital\ISReservations\Model\AppendSourceReservations"/>
    <preference for="ReachDigital\ISReservationsApi\Api\Data\SourceReservationInterface" type="ReachDigital\ISReservations\Model\SourceReservation"/>
    <preference for="ReachDigital\ISReservationsApi\Model\SourceReservationBuilderInterface" type="ReachDigital\ISReservations\Model\SourceReservationBuilder"/>
    <preference for="ReachDigital\ISReservationsApi\Model\CleanupSourceReservationsInterface" type="ReachDigital\ISReservations\Model\ResourceModel\CleanupSourceReservations"/>
    <preference for="ReachDigital\ISReservationsApi\Model\GetSourceReservationsQuantityInterface" type="ReachDigital\ISReservations\Model\ResourceModel\GetSourceReservationsQuantity"/>

    <preference for="ReachDigital\ISReservationsApi\Api\EncodeMetaDataInterface" type="ReachDigital\ISReservations\Model\MetaData\EncodeMetaData"/>
    <preference for="ReachDigital\ISReservationsApi\Api\DecodeMetaDataInterface" type="ReachDigital\ISReservations\Model\MetaData\DecodeMetaData"/>
    <preference for="ReachDigital\ISReservationsApi\Api\GetReservationsByMetadataInterface" type="ReachDigital\ISReservations\Model\ResourceModel\GetReservationsByMetadata"/>
    <preference for="ReachDigital\ISReservationsApi\Api\GetReservationsByMetadataListInterface" type="ReachDigital\ISReservations\Model\ResourceModel\GetReservationsByMetadataList"/>

    <type name="ReachDigital\ISReservations\Model\ResourceModel\CleanupSourceReservations">
        <arguments>
            <argument name="groupConcatMaxLen" xsi:type="number">2000</argument>
        </arguments>
    </type>


    <type name="Magento\InventoryIndexer\Indexer\SelectBuilder">
        <plugin name="add_source_reservation_qty_to_stock_indexer"
                type="ReachDigital\ISReservations\Plugin\MagentoInventoryIndexer\AddSourceReservationsQtyToIsSalableConditionsPlugin"/>
    </type>

    <type name="ReachDigital\ISReservations\Plugin\MagentoInventoryIndexer\AddSourceReservationsQtyToIsSalableConditionsPlugin">
        <arguments>
            <argument name="productTableName" xsi:type="string">catalog_product_entity</argument>
        </arguments>
    </type>

    <type name="Magento\InventorySales\Model\ResourceModel\IsStockItemSalableCondition\MinQtyStockCondition">
        <plugin name="add_source_reservation_qty_to_stock_indexer_min_qty"
                type="ReachDigital\ISReservations\Plugin\MagentoInventorySales\AddSourceReservationsQtyToIsSalableMinQtyStockConditionPlugin"/>
    </type>

    <type name="\Magento\InventorySales\Model\ResourceModel\IsStockItemSalableCondition\BackordersCondition">
        <plugin name="add_source_reservation_qty_to_stock_indexer_backorders"
                type="ReachDigital\ISReservations\Plugin\MagentoInventorySales\AddSourceReservationsQtyToIsSalableBackordersConditionPlugin"/>
    </type>
</config>
