<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ReachDigital\InventorySourceReservationsApi\Model\AppendReservationsInterface" type="ReachDigital\InventorySourceReservations\Model\AppendReservations"/>
    <preference for="ReachDigital\InventorySourceReservationsApi\Model\ReservationInterface" type="ReachDigital\InventorySourceReservations\Model\Reservation"/>
    <preference for="ReachDigital\InventorySourceReservationsApi\Model\ReservationBuilderInterface" type="ReachDigital\InventorySourceReservations\Model\ReservationBuilder"/>
    <preference for="ReachDigital\InventorySourceReservationsApi\Model\CleanupReservationsInterface" type="ReachDigital\InventorySourceReservations\Model\ResourceModel\CleanupReservations"/>
    <preference for="ReachDigital\InventorySourceReservationsApi\Model\GetReservationsQuantityInterface" type="ReachDigital\InventorySourceReservations\Model\ResourceModel\GetReservationsQuantity"/>
    <type name="ReachDigital\InventorySourceReservations\Model\ResourceModel\CleanupReservations">
        <arguments>
            <argument name="groupConcatMaxLen" xsi:type="number">2000</argument>
        </arguments>
    </type>
</config>
